/* Fondo completo de pantalla */
.glass-bg {
    background-image: url('https://images.unsplash.com/photo-1541643600914-78b084683601?q=80&w=2504&auto=format&fit=crop');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* El cuadro de vidrio */
.glass-container {
    background: rgba(255, 255, 255, 0.1);
    /* Blanco casi transparente */
    backdrop-filter: blur(15px);
    /* EL EFECTO BORROSO MÁGICO */
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 3rem;
    border-radius: 20px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

/* Inputs transparentes */
.glass-input {
    background: rgba(255, 255, 255, 0.2);
    border: none;
    padding: 15px;
    border-radius: 10px;
    width: 100%;
    color: white;
    outline: none;
    transition: 0.3s;
}

.glass-input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.glass-input:focus {
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

/* Botón de vidrio */
.glass-btn {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 10px;
    background: white;
    color: #333;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.glass-btn:hover {
    background: #f8f9fa;
    transform: scale(1.02);
}